obj-x86_64-linux-gnu
build
tests/dotest
.settings
CMakeLists.txt.user*
debian/files
debian/libutils1
debian/libutils1*.debhelper*
debian/libutils-dev
debian/tmp
debian/*.substvars
debian/*.log
debian/.debhelper
