Source: libutils
Priority: extra
Maintainer: Tor Krill <tor@openproducts.se>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.4
Section: libs
#Vcs-Git: git://git.debian.org/collab-maint/libutils.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libutils.git;a=summary

Package: libutils-dev
Section: libdevel
Architecture: any
Depends: libutilsBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libutils1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
